# Copyright (c) 2019, 2021 Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# Region

region = "us-phoenix-1"

# general oci parameters

compartment_id = ""

label_prefix = "none"

# drg parameters
drg_display_name = drg

# vcns to be attached
drg_vcn_attachments = null

# rpc parameters
create_rpc = false
rpc_acceptor_id = null
rpc_acceptor_region = null


freeform_tags = {
  environment = "dev"
}

defined_tags = {
  "Operations.CostCenter" = "42"
}


