# Copyright (c) 2022 Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# general oci parameters

compartment_id = ""
label_prefix   = "none"

freeform_tags = {}
defined_tags  = {}

# freeform_tags = {
#   environment = "dev"
# }
# 
# defined_tags = {
#   "Operations.CostCenter" = "42"
# }


# drg parameters
drg_display_name = "drg"
drg_id = null

# vcns to be attached
drg_vcn_attachments = null

# drg_vcn_attachments = {
#   "myvcn": {
#     vcn_id : ""
#     vcn_transit_routing_rt_id : ""
#     drg_route_table_id : ""
#   }
# }


# rpc parameters
remote_peering_connections = null 
#
# map of remote peering connections
# - key-only items represent represent local acceptors with no info about the remote peer
# - items containing key and values represent local requestor and must have the OCID and region of the remote acceptor
#remote_peering_connections = {
#    "rpc_name_1" : {}
#    "rpc_name_2" : {
#        "rpc_acceptor_id" : "ocid1.remotepeeringconnection.oc1.aaaaaa" # <-- edit this OCID
#        "rpc_acceptor_region" : "us-ashburn-1" <-- replace the region
#    }
#}

